<div class="home__container">
  <app-card
  gameCover="assets/bt-5.jpg"
  gameLabel="Exclusive"
  gameType="PS4 PS5"
  gamePrice="129,90"  ></app-card>

  <app-card
  gameCover="assets/bt-1.jpg"
  gameLabel="Exclusive"
  gameType="Digital"
  gamePrice="99,90"></app-card>

  <app-card
  gameCover="assets/bt-bad-company-2.jpg"
  gameLabel="Exclusiso"
  gameType="PS5 Digital "
  gamePrice="120,90"></app-card>

  <app-card
  gameCover="assets/ac-cover.jpg"
  gameLabel="Exclusiso"
  gameType="PS5 Digital "
  gamePrice="120,90"></app-card>
  <app-card
  gameCover="assets/bt-hardline.jpg"
  gameLabel="Exclusiso"
  gameType="PS5 Digital "
  gamePrice="120,90"></app-card>



</div>
